@model  List<Shop_dotNet.Models.CartItem>
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutCustom.cshtml";
    int tong = 0;
}

<div id="page-content">
    <!--Page Title-->
    <div class="bredcrumbWrap">
        <div class="container breadcrumbs">
            <a href="index.html" title="Back to the home page"></a><span></span>
        </div>
    </div>
    <div class="page section-header text-center">
        <div class="page-title">
            <div class="wrapper"><h1 class="page-width">Chi tiết đơn hàng</h1></div>
        </div>
    </div>

    <div class="col-12">
        <div class="card">
            <div class="table-responsive">
                <table class="table table-hover table-striped table-vcenter mb-0 text-nowrap">
                    <thead>
                        <tr>
                            <th colspan="5">Đơn hàng</th>

                        </tr>
                        <tr>
                            <th>Tên sản phẩm</th>
                            <th>Hình ảnh</th>
                            <th>Giá tiền</th>
                            <th>Số lượng</th>

                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in (List<Shop_dotNet.Models.CartItem>)Model)
                        {
                            <tr>
                                <td>@item.product.name</td>
                                <td> <img src="/Areas/Admin/Assets/products/@item.product.img" width="100" /></td>
                                <td>@item.product.price</td>
                                <td>@item.Quantity</td>
                            </tr>
                            tong += (int)(item.Quantity * item.product.price);
                        }

                    </tbody>
                </table>
            </div>
        </div>
        Trang
        <div style="float:right">
            Tổng tiền @tong VND
        </div>
    </div>
    <p>

        @Html.ActionLink("Back to List", "Index")
    </p>

</div>

