

    <div class="container-fluid">
        <div class="page-header">
            <div class="left">
                <a href="javascript:void(0)" class="icon menu_toggle mr-3">
                    <i class="fa fa-align-left"></i>
                </a>
                <h1 class="page-title">Nghiện bóng đá</h1>
            </div>
            <div class="right">
               
                <div class="notification d-flex">
                   
                    
                    <div class="dropdown d-flex">
                        <a class="nav-link icon d-none d-md-flex btn btn-default btn-icon ml-2"
                           data-toggle="dropdown">
                            Xin chào @Session["NameAdmin"] 
                        </a>
                   
                    </div>
                    <div class="dropdown d-flex">
                        <a class="nav-link icon d-none d-md-flex btn btn-default btn-icon ml-2"
                           data-toggle="dropdown">
                            <i class="fa fa-user"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                           
                            <a class="dropdown-item" href=" @Url.Action("Logout", "Login")  "> Logout</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
