
<div id="left-sidebar" class="sidebar" style="padding:15px 15px 20px 30px !important; ">
    <h5 class="brand-name">
        <img src="https://theme.hstatic.net/200000580329/1000937158/14/logo.png?v=85" />
       
    </h5>
    <nav id="left-sidebar-nav" class="sidebar-nav" >
        <ul class="metismenu">
            <li class="g_heading">Project</li>
            <li class="">
                <a href="/Admin/DashBoard"><i class="fa fa-dashboard"></i><span>Trang chủ</span></a>
            </li>
            <li>
                <a href="/Admin/Orders"><i class="fa fa-list-ul"></i><span>Đơn hàng</span></a>
            </li>
            <li>
                <a href="/Admin/Categories"><i class="fa fa-list-ul"></i><span>Thể loại</span></a>
            </li>
            <li>
                <a href="/Admin/Products"><i class="fa fa-list-ul"></i><span>Sản phẩm</span></a>
            </li>
            <li>
                <a href="/Admin/Customers"><i class="fa fa-list-ul"></i><span>Khách hàng</span></a>
            </li>
    
        </ul>
    </nav>
</div>