
@{
    ViewBag.Title = "AboutUs";
    Layout = "~/Views/Shared/_LayoutCustom.cshtml";
}
<title>Nghiện bóng VCL - Về Chúng Tôi</title>

<div id="page-content">
    <!--Page Title-->
    <div class="page section-header text-center">
        <div class="page-title">
            <div class="wrapper"><h1 class="page-width"></h1></div>
        </div>
        <div class="page-title">
            <div class="wrapper"><h1 class="page-width"></h1></div>
        </div>
    </div>
    <!--End Page Title-->

    <div class="container">

        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 main-col">
                <div class="text-center mb-4"

                    <div class="rte-setting">
                        <p><strong>Về Chúng Tôi</strong></p>
                        <p>Chúng tôi được tạo ra với mục đích mang mang lại thật nhiều điều tích cực cho cộng đồng những người yêu bóng đá trên toàn đất nước Việt Nam. Với chất lượng sản phẩm cùng dịch vụ chăm sóc khách hàng kỹ lưỡng, tỉ mỉ, Nghiện Bóng Đá hi vọng sẽ là một địa chỉ đáng tin cậy dành cho tất cả các anh em yêu bóng đá. Cùng nhau cháy hết mình với môn thể thao Vua, đó chính là những gì chúng tôi muốn truyền tải đến các khách hàng. Cảm ơn ! </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-sm-4 col-md-4 col-lg-4 mb-4"><img class="blur-up lazyload" src="//product.hstatic.net/200000580329/product/nmd10020_7a1c72be331049c58c9b5d46c4b8d77f_large.jpg" alt="About Us" /></div>
            <div class="col-12 col-sm-4 col-md-4 col-lg-4 mb-4"><img class="blur-up lazyload" src="//product.hstatic.net/200000580329/product/vuvu1171_69eb56a7521c47b485feaf29e668a946_large.jpg" alt="About Us" /></div>
            <div class="col-12 col-sm-4 col-md-4 col-lg-4 mb-4"><img class="blur-up lazyload" src="//product.hstatic.net/200000580329/product/1a_2dcd8c0b402248598e022691dbc164d3_large.jpeg" alt="About Us" /></div>
        </div>





    </div>

</div>
<!--End Body Content-->
