
@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_LayoutCustom.cshtml";
}

<title>Nghiện bóng VCL - Liên Hệ </title>

<div id="page-content">
    <!--Page Title-->
    <div class="page section-header text-center">
        <div class="page-title">
            <div class="wrapper" style="margin-top:20px"><h1 class="page-width"></h1></div>
        </div>
    </div>
    <!--End Page Title-->
    <div class="bredcrumbWrap">
        <div class="container breadcrumbs">
            <a href="@Url.Action("Index","Home")" title="Back to the home page">Home</a><span aria-hidden="true">›</span><span>Contact Us</span>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-4 col-lg-4">
                <div class="open-hours">
                    <strong>Giờ Mở Cửa</strong><br>
                    Thứ 2 - Thứ 7 : 9 AM - 11 PM<br>
                    Chủ Nhật: 11 AM - 5 PM
                </div>
                <hr />
                <ul class="addressFooter">
                    <li><i class="icon anm anm-map-marker-al"></i><p>Khu Công Nghệ Cao, Số 69, Đường Phan Trung</p></li>
                    <li class="phone"><i class="icon anm anm-phone-s"></i><p>0968888111</p></li>
                    <li class="email"><i class="icon anm anm-envelope-l"></i><p>caiweblo@gmail.com</p></li>
                </ul>
                <hr />
                <ul class="list--inline site-footer__social-icons social-icons">
                    <li><a class="social-icons__link" href="https://www.facebook.com/trungphan007" target="_blank" title="Shop quần áo on Facebook"><i class="icon icon-facebook"></i></a></li>
                    <li><a class="social-icons__link" href="https://www.youtube.com/watch?v=UCXao7aTDQM" target="_blank" title="Shop quần áo on YouTube"><i class="icon icon-youtube"></i> <span class="icon__fallback-text">YouTube</span></a></li>
                </ul>
            </div>
        </div>
    </div>

</div>


