

<!--Related Product Slider-->
<div class="related-product grid-products">
    <header class="section-header">
        <h2 class="section-header__title text-center h2"><span>Related Products</span></h2>
        <p class="sub-heading">You can stop autoplay, increase/decrease aniamtion speed and number of grid to show and products from store admin.</p>
    </header>
    <div class="productPageSlider">
        <div class="col-12 item">
            <!-- start product image -->
            @foreach (var item in ViewBag.products)
            {
                <div class="product-image">
                    <!-- start product image -->
                    <a href="@Url.Action("ProductAccordion","Product",new { id = item.id })">
                        <!-- image -->
                        <!-- End image -->
                        <!-- Hover image -->
                        <img class="hover blur-up lazyload" data-src="/Content/AssetsClient/images/product-images/product-image1-1.jpg" src="/Content/AssetsClient/images/product-images/product-image1-1.jpg" alt="image" title="product">
                        <!-- End hover image -->
                        <!-- product label -->
                        <div class="product-labels rectangular"><span class="lbl on-sale">-16%</span> <span class="lbl pr-label1">new</span></div>
                        <!-- End product label -->
                    </a>
                    <!-- end product image -->
                    <!-- Start product button -->
                    <form class="variants add" action="#" onclick="window.location.href='cart.html'" method="post">
                        <button class="btn btn-addto-cart" type="button" tabindex="0">Select Options</button>
                    </form>
                    <div class="button-set">
                        <a href="#" title="Quick View" class="quick-view" tabindex="0">
                            <i class="icon anm anm-search-plus-r"></i>
                        </a>
                        <div class="wishlist-btn">
                            <a class="wishlist add-to-wishlist" href="wishlist.html">
                                <i class="icon anm anm-heart-l"></i>
                            </a>
                        </div>
                    </div>
                    <!-- end product button -->
                </div>
            }

            <!-- end product image -->
            <!--start product details -->
            <div class="product-details text-center">
                <!-- product name -->
                <div class="product-name">
                    <a href="#">Edna Dress</a>
                </div>
                <!-- End product name -->
                <!-- product price -->
                <div class="product-price">
                    <span class="price">@(double.Parse(item.price+"").ToString("#,###", System.Globalization.CultureInfo.GetCultureInfo("vi-VN")) ) VND</span>
                </div>
                <!-- End product price -->

                <div class="product-review">
                    <i class="font-13 fa fa-star"></i>
                    <i class="font-13 fa fa-star"></i>
                    <i class="font-13 fa fa-star"></i>
                    <i class="font-13 fa fa-star-o"></i>
                    <i class="font-13 fa fa-star-o"></i>
                </div>
                <!-- Variant -->
                <ul class="swatches">
                    <li class="swatch medium rounded"><img src="/Content/AssetsClient/images/product-images/variant1.jpg" alt="image" /></li>
                    <li class="swatch medium rounded"><img src="/Content/AssetsClient/images/product-images/variant2.jpg" alt="image" /></li>
                    <li class="swatch medium rounded"><img src="/Content/AssetsClient/images/product-images/variant3.jpg" alt="image" /></li>
                    <li class="swatch medium rounded"><img src="/Content/AssetsClient/images/product-images/variant4.jpg" alt="image" /></li>
                    <li class="swatch medium rounded"><img src="/Content/AssetsClient/images/product-images/variant5.jpg" alt="image" /></li>
                    <li class="swatch medium rounded"><img src="/Content/AssetsClient/images/product-images/variant6.jpg" alt="image" /></li>
                </ul>
                <!-- End Variant -->
            </div>
            <!-- End product details -->
        </div>
        <div class="col-12 item">
            <!-- start product image -->
            <div class="product-image">
                <!-- start product image -->
                <a href="#">
                    <!-- image -->
                    <img class="primary blur-up lazyload" data-src="/Content/AssetsClient/images/product-images/product-image2.jpg" src="/Content/AssetsClient/images/product-images/product-image2.jpg" alt="image" title="product">
                    <!-- End image -->
                    <!-- Hover image -->
                    <img class="hover blur-up lazyload" data-src="/Content/AssetsClient/images/product-images/product-image2-1.jpg" src="/Content/AssetsClient/images/product-images/product-image2-1.jpg" alt="image" title="product">
                    <!-- End hover image -->
                </a>
                <!-- end product image -->
                <!-- Start product button -->
                <form class="variants add" action="#" onclick="window.location.href='cart.html'" method="post">
                    <button class="btn btn-addto-cart" type="button" tabindex="0">Select Options</button>
                </form>
                <div class="button-set">
                    <a href="#" title="Quick View" class="quick-view" tabindex="0">
                        <i class="icon anm anm-search-plus-r"></i>
                    </a>
                    <div class="wishlist-btn">
                        <a class="wishlist add-to-wishlist" href="wishlist.html">
                            <i class="icon anm anm-heart-l"></i>
                        </a>
                    </div>
                </div>
                <!-- end product button -->
            </div>
            <!-- end product image -->
            <!--start product details -->
            <div class="product-details text-center">
                <!-- product name -->
                <div class="product-name">
                    <a href="#">Elastic Waist Dress</a>
                </div>
                <!-- End product name -->
                <!-- product price -->
                <div class="product-price">
                    <span class="price">$748.00</span>
                </div>
                <!-- End product price -->
                <div class="product-review">
                    <i class="font-13 fa fa-star"></i>
                    <i class="font-13 fa fa-star"></i>
                    <i class="font-13 fa fa-star"></i>
                    <i class="font-13 fa fa-star"></i>
                    <i class="font-13 fa fa-star"></i>
                </div>
                <!-- Variant -->
                <ul class="swatches">
                    <li class="swatch medium rounded"><img src="/Content/AssetsClient/images/product-images/variant2-1.jpg" alt="image" /></li>
                    <li class="swatch medium rounded"><img src="/Content/AssetsClient/images/product-images/variant2-2.jpg" alt="image" /></li>
                    <li class="swatch medium rounded"><img src="/Content/AssetsClient/images/product-images/variant2-3.jpg" alt="image" /></li>
                    <li class="swatch medium rounded"><img src="/Content/AssetsClient/images/product-images/variant2-4.jpg" alt="image" /></li>
                </ul>
                <!-- End Variant -->
            </div>
            <!-- End product details -->
        </div>
        <div class="col-12 item">
            <!-- start product image -->
            <div class="product-image">
                <!-- start product image -->
                <a href="#">
                    <!-- image -->
                    <img class="primary blur-up lazyload" data-src="/Content/AssetsClient/images/product-images/product-image3.jpg" src="/Content/AssetsClient/images/product-images/product-image3.jpg" alt="image" title="product">
                    <!-- End image -->
                    <!-- Hover image -->
                    <img class="hover blur-up lazyload" data-src="/Content/AssetsClient/images/product-images/product-image3-1.jpg" src="/Content/AssetsClient/images/product-images/product-image3-1.jpg" alt="image" title="product">
                    <!-- End hover image -->
                    <!-- product label -->
                    <div class="product-labels rectangular"><span class="lbl pr-label2">Hot</span></div>
                    <!-- End product label -->
                </a>
                <!-- end product image -->
                <!-- Start product button -->
                <form class="variants add" action="#" onclick="window.location.href='cart.html'" method="post">
                    <button class="btn btn-addto-cart" type="button" tabindex="0">Select Options</button>
                </form>
                <div class="button-set">
                    <a href="#" title="Quick View" class="quick-view" tabindex="0">
                        <i class="icon anm anm-search-plus-r"></i>
                    </a>
                    <div class="wishlist-btn">
                        <a class="wishlist add-to-wishlist" href="wishlist.html">
                            <i class="icon anm anm-heart-l"></i>
                        </a>
                    </div>
                </div>
                <!-- end product button -->
            </div>
            <!-- end product image -->
            <!--start product details -->
            <div class="product-details text-center">
                <!-- product name -->
                <div class="product-name">
                    <a href="#">3/4 Sleeve Kimono Dress</a>
                </div>
                <!-- End product name -->
                <!-- product price -->
                <div class="product-price">
                    <span class="price">$550.00</span>
                </div>
                <!-- End product price -->

                <div class="product-review">
                    <i class="font-13 fa fa-star"></i>
                    <i class="font-13 fa fa-star"></i>
                    <i class="font-13 fa fa-star"></i>
                    <i class="font-13 fa fa-star"></i>
                    <i class="font-13 fa fa-star-o"></i>
                </div>
                <!-- Variant -->
                <ul class="swatches">
                    <li class="swatch medium rounded"><img src="/Content/AssetsClient/images/product-images/variant3-1.jpg" alt="image" /></li>
                    <li class="swatch medium rounded"><img src="/Content/AssetsClient/images/product-images/variant3-2.jpg" alt="image" /></li>
                    <li class="swatch medium rounded"><img src="/Content/AssetsClient/images/product-images/variant3-3.jpg" alt="image" /></li>
                    <li class="swatch medium rounded"><img src="/Content/AssetsClient/images/product-images/variant3-4.jpg" alt="image" /></li>
                </ul>
                <!-- End Variant -->
            </div>
            <!-- End product details -->
        </div>
        <div class="col-12 item">
            <!-- start product image -->
            <div class="product-image">
                <!-- start product image -->
                <a href="#">
                    <!-- image -->
                    <img class="primary blur-up lazyload" data-src="/Content/AssetsClient/images/product-images/product-image4.jpg" src="/Content/AssetsClient/images/product-images/product-image4.jpg" alt="image" title="product" />
                    <!-- End image -->
                    <!-- Hover image -->
                    <img class="hover blur-up lazyload" data-src="/Content/AssetsClient/images/product-images/product-image4-1.jpg" src="/Content/AssetsClient/images/product-images/product-image4-1.jpg" alt="image" title="product" />
                    <!-- End hover image -->
                    <!-- product label -->
                    <div class="product-labels"><span class="lbl on-sale">Sale</span></div>
                    <!-- End product label -->
                </a>
                <!-- end product image -->
                <!-- Start product button -->
                <form class="variants add" action="#" onclick="window.location.href='cart.html'" method="post">
                    <button class="btn btn-addto-cart" type="button" tabindex="0">Select Options</button>
                </form>
                <div class="button-set">
                    <a href="#" title="Quick View" class="quick-view" tabindex="0">
                        <i class="icon anm anm-search-plus-r"></i>
                    </a>
                    <div class="wishlist-btn">
                        <a class="wishlist add-to-wishlist" href="wishlist.html">
                            <i class="icon anm anm-heart-l"></i>
                        </a>
                    </div>
                </div>
                <!-- end product button -->
            </div>
            <!-- end product image -->
            <!--start product details -->
            <div class="product-details text-center">
                <!-- product name -->
                <div class="product-name">
                    <a href="#">Cape Dress</a>
                </div>
                <!-- End product name -->
                <!-- product price -->
                <div class="product-price">
                    <span class="old-price">$900.00</span>
                    <span class="price">$788.00</span>
                </div>
                <!-- End product price -->

                <div class="product-review">
                    <i class="font-13 fa fa-star"></i>
                    <i class="font-13 fa fa-star"></i>
                    <i class="font-13 fa fa-star"></i>
                    <i class="font-13 fa fa-star-o"></i>
                    <i class="font-13 fa fa-star-o"></i>
                </div>
                <!-- Variant -->
                <ul class="swatches">
                    <li class="swatch medium rounded"><img src="/Content/AssetsClient/images/product-images/variant4-1.jpg" alt="image" /></li>
                    <li class="swatch medium rounded"><img src="/Content/AssetsClient/images/product-images/variant4-2.jpg" alt="image" /></li>
                    <li class="swatch medium rounded"><img src="/Content/AssetsClient/images/product-images/variant4-3.jpg" alt="image" /></li>
                    <li class="swatch medium rounded"><img src="/Content/AssetsClient/images/product-images/variant4-4.jpg" alt="image" /></li>
                </ul>
                <!-- End Variant -->
            </div>
            <!-- End product details -->
        </div>
        <div class="col-12 item">
            <!-- start product image -->
            <div class="product-image">
                <!-- start product image -->
                <a href="#">
                    <!-- image -->
                    <img class="primary blur-up lazyload" data-src="/Content/AssetsClient/images/product-images/product-image5.jpg" src="/Content/AssetsClient/images/product-images/product-image5.jpg" alt="image" title="product" />
                    <!-- End image -->
                    <!-- Hover image -->
                    <img class="hover blur-up lazyload" data-src="/Content/AssetsClient/images/product-images/product-image5-1.jpg" src="/Content/AssetsClient/images/product-images/product-image5-1.jpg" alt="image" title="product" />
                    <!-- End hover image -->
                    <!-- product label -->
                    <div class="product-labels"><span class="lbl on-sale">Sale</span></div>
                    <!-- End product label -->
                </a>
                <!-- end product image -->
                <!-- Start product button -->
                <form class="variants add" action="#" onclick="window.location.href='cart.html'" method="post">
                    <button class="btn btn-addto-cart" type="button" tabindex="0">Select Options</button>
                </form>
                <div class="button-set">
                    <a href="#" title="Quick View" class="quick-view" tabindex="0">
                        <i class="icon anm anm-search-plus-r"></i>
                    </a>
                    <div class="wishlist-btn">
                        <a class="wishlist add-to-wishlist" href="wishlist.html">
                            <i class="icon anm anm-heart-l"></i>
                        </a>
                    </div>
                </div>
                <!-- end product button -->
            </div>
            <!-- end product image -->
            <!--start product details -->
            <div class="product-details text-center">
                <!-- product name -->
                <div class="product-name">
                    <a href="#">Paper Dress</a>
                </div>
                <!-- End product name -->
                <!-- product price -->
                <div class="product-price">
                    <span class="price">$550.00</span>
                </div>
                <!-- End product price -->

                <div class="product-review">
                    <i class="font-13 fa fa-star"></i>
                    <i class="font-13 fa fa-star"></i>
                    <i class="font-13 fa fa-star"></i>
                    <i class="font-13 fa fa-star"></i>
                    <i class="font-13 fa fa-star"></i>
                </div>
                <!-- Variant -->
                <ul class="swatches">
                    <li class="swatch medium rounded"><img src="/Content/AssetsClient/images/product-images/variant3-1.jpg" alt="image" /></li>
                    <li class="swatch medium rounded"><img src="/Content/AssetsClient/images/product-images/variant3-2.jpg" alt="image" /></li>
                    <li class="swatch medium rounded"><img src="/Content/AssetsClient/images/product-images/variant3-3.jpg" alt="image" /></li>
                    <li class="swatch medium rounded"><img src="/Content/AssetsClient/images/product-images/variant3-4.jpg" alt="image" /></li>
                </ul>
                <!-- End Variant -->
            </div>
            <!-- End product details -->
        </div>
        <div class="col-12 item">
            <!-- start product image -->
            <div class="product-image">
                <!-- start product image -->
                <a href="#">
                    <!-- image -->
                    <img class="primary blur-up lazyload" data-src="/Content/AssetsClient/images/product-images/product-image6.jpg" src="/Content/AssetsClient/images/product-images/product-image6.jpg" alt="image" title="product">
                    <!-- End image -->
                    <!-- Hover image -->
                    <img class="hover blur-up lazyload" data-src="/Content/AssetsClient/images/product-images/product-image6-1.jpg" src="/Content/AssetsClient/images/product-images/product-image6-1.jpg" alt="image" title="product">
                    <!-- End hover image -->
                    <!-- product label -->
                    <div class="product-labels rectangular"><span class="lbl on-sale">-16%</span> <span class="lbl pr-label1">new</span></div>
                    <!-- End product label -->
                </a>
                <!-- end product image -->
                <!-- Start product button -->
                <form class="variants add" action="#" onclick="window.location.href='cart.html'" method="post">
                    <button class="btn btn-addto-cart" type="button" tabindex="0">Select Options</button>
                </form>
                <div class="button-set">
                    <a href="#" title="Quick View" class="quick-view" tabindex="0">
                        <i class="icon anm anm-search-plus-r"></i>
                    </a>
                    <div class="wishlist-btn">
                        <a class="wishlist add-to-wishlist" href="wishlist.html">
                            <i class="icon anm anm-heart-l"></i>
                        </a>
                    </div>
                </div>
                <!-- end product button -->
            </div>
            <!-- end product image -->
            <!--start product details -->
            <div class="product-details text-center">
                <!-- product name -->
                <div class="product-name">
                    <a href="#">Zipper Jacket</a>
                </div>
                <!-- End product name -->
                <!-- product price -->
                <div class="product-price">
                    <span class="price">$788.00</span>
                </div>
                <!-- End product price -->

                <div class="product-review">
                    <i class="font-13 fa fa-star"></i>
                    <i class="font-13 fa fa-star"></i>
                    <i class="font-13 fa fa-star"></i>
                    <i class="font-13 fa fa-star-o"></i>
                    <i class="font-13 fa fa-star-o"></i>
                </div>
            </div>
            <!-- End product details -->
        </div>
        <div class="col-12 item">
            <!-- start product image -->
            <div class="product-image">
                <!-- start product image -->
                <a href="#">
                    <!-- image -->
                    <img class="primary blur-up lazyload" data-src="/Content/AssetsClient/images/product-images/product-image7.jpg" src="/Content/AssetsClient/images/product-images/product-image7.jpg" alt="image" title="product">
                    <!-- End image -->
                    <!-- Hover image -->
                    <img class="hover blur-up lazyload" data-src="/Content/AssetsClient/images/product-images/product-image7-1.jpg" src="/Content/AssetsClient/images/product-images/product-image7-1.jpg" alt="image" title="product">
                    <!-- End hover image -->
                </a>
                <!-- end product image -->
                <!-- Start product button -->
                <form class="variants add" action="#" onclick="window.location.href='cart.html'" method="post">
                    <button class="btn btn-addto-cart" type="button" tabindex="0">Select Options</button>
                </form>
                <div class="button-set">
                    <a href="#" title="Quick View" class="quick-view" tabindex="0">
                        <i class="icon anm anm-search-plus-r"></i>
                    </a>
                    <div class="wishlist-btn">
                        <a class="wishlist add-to-wishlist" href="wishlist.html">
                            <i class="icon anm anm-heart-l"></i>
                        </a>
                    </div>
                </div>
                <!-- end product button -->
            </div>
            <!-- end product image -->
            <!--start product details -->
            <div class="product-details text-center">
                <!-- product name -->
                <div class="product-name">
                    <a href="#">Zipper Jacket</a>
                </div>
                <!-- End product name -->
                <!-- product price -->
                <div class="product-price">
                    <span class="price">$748.00</span>
                </div>
                <!-- End product price -->
                <div class="product-review">
                    <i class="font-13 fa fa-star"></i>
                    <i class="font-13 fa fa-star"></i>
                    <i class="font-13 fa fa-star"></i>
                    <i class="font-13 fa fa-star"></i>
                    <i class="font-13 fa fa-star"></i>
                </div>
            </div>
            <!-- End product details -->
        </div>
    </div>
</div>
<!--End Related Product Slider-->
<!--Recently Product Slider-->
<div class="related-product grid-products">
    <header class="section-header">
        <h2 class="section-header__title text-center h2"><span>Recently Viewed Product</span></h2>
        <p class="sub-heading">You can manage this section from store admin as describe in above section</p>
    </header>
    <div class="productPageSlider">
        <div class="col-12 item">
            <!-- start product image -->
            <div class="product-image">
                <!-- start product image -->
                <a href="#">
                    <!-- image -->
                    <img class="primary blur-up lazyload" data-src="/Content/AssetsClient/images/product-images/product-image6.jpg" src="/Content/AssetsClient/images/product-images/product-image6.jpg" alt="image" title="product">
                    <!-- End image -->
                    <!-- Hover image -->
                    <img class="hover blur-up lazyload" data-src="/Content/AssetsClient/images/product-images/product-image6-1.jpg" src="/Content/AssetsClient/images/product-images/product-image6-1.jpg" alt="image" title="product">
                    <!-- End hover image -->
                    <!-- product label -->
                    <div class="product-labels rectangular"><span class="lbl on-sale">-16%</span> <span class="lbl pr-label1">new</span></div>
                    <!-- End product label -->
                </a>
                <!-- end product image -->
            </div>
            <!-- end product image -->
            <!--start product details -->
            <div class="product-details text-center">
                <!-- product name -->
                <div class="product-name">
                    <a href="#">Zipper Jacket</a>
                </div>
                <!-- End product name -->
            </div>
            <!-- End product details -->
        </div>
        <div class="col-12 item">
            <!-- start product image -->
            <div class="product-image">
                <!-- start product image -->
                <a href="#">
                    <!-- image -->
                    <img class="primary blur-up lazyload" data-src="/Content/AssetsClient/images/product-images/product-image7.jpg" src="/Content/AssetsClient/images/product-images/product-image7.jpg" alt="image" title="product">
                    <!-- End image -->
                    <!-- Hover image -->
                    <img class="hover blur-up lazyload" data-src="/Content/AssetsClient/images/product-images/product-image7-1.jpg" src="/Content/AssetsClient/images/product-images/product-image7-1.jpg" alt="image" title="product">
                    <!-- End hover image -->
                </a>
                <!-- end product image -->
            </div>
            <!-- end product image -->
            <!--start product details -->
            <div class="product-details text-center">
                <!-- product name -->
                <div class="product-name">
                    <a href="#">Zipper Jacket</a>
                </div>
                <!-- End product name -->
            </div>
            <!-- End product details -->
        </div>
        <div class="col-12 item">
            <!-- start product image -->
            <div class="product-image">
                <!-- start product image -->
                <a href="#">
                    <!-- image -->
                    <img class="primary blur-up lazyload" data-src="/Content/AssetsClient/images/product-images/product-image8.jpg" src="/Content/AssetsClient/images/product-images/product-image8.jpg" alt="image" title="product">
                    <!-- End image -->
                    <!-- Hover image -->
                    <img class="hover blur-up lazyload" data-src="/Content/AssetsClient/images/product-images/product-image8-1.jpg" src="/Content/AssetsClient/images/product-images/product-image8-1.jpg" alt="image" title="product">
                    <!-- End hover image -->
                </a>
                <!-- end product image -->
            </div>

            <!-- end product image -->
            <!--start product details -->
            <div class="product-details text-center">
                <!-- product name -->
                <div class="product-name">
                    <a href="#">Workers Shirt Jacket</a>
                </div>
                <!-- End product name -->
            </div>
            <!-- End product details -->
        </div>
        <div class="col-12 item">
            <!-- start product image -->
            <div class="product-image">
                <!-- start product image -->
                <a href="#">
                    <!-- image -->
                    <img class="primary blur-up lazyload" data-src="/Content/AssetsClient/images/product-images/product-image9.jpg" src="/Content/AssetsClient/images/product-images/product-image9.jpg" alt="image" title="product">
                    <!-- End image -->
                    <!-- Hover image -->
                    <img class="hover blur-up lazyload" data-src="/Content/AssetsClient/images/product-images/product-image9-1.jpg" src="/Content/AssetsClient/images/product-images/product-image9-1.jpg" alt="image" title="product">
                    <!-- End hover image -->
                </a>
                <!-- end product image -->
            </div>
            <!-- end product image -->
            <!--start product details -->
            <div class="product-details text-center">
                <!-- product name -->
                <div class="product-name">
                    <a href="#">Watercolor Sport Jacket in Brown/Blue</a>
                </div>
                <!-- End product name -->
            </div>
            <!-- End product details -->
        </div>
        <div class="col-12 item">
            <!-- start product image -->
            <div class="product-image">
                <!-- start product image -->
                <a href="#">
                    <!-- image -->
                    <img class="primary blur-up lazyload" data-src="/Content/AssetsClient/images/product-images/product-image10.jpg" src="/Content/AssetsClient/images/product-images/product-image10.jpg" alt="image" title="product">
                    <!-- End image -->
                    <!-- Hover image -->
                    <img class="hover blur-up lazyload" data-src="/Content/AssetsClient/images/product-images/product-image10-1.jpg" src="/Content/AssetsClient/images/product-images/product-image10-1.jpg" alt="image" title="product">
                    <!-- End hover image -->
                </a>
                <!-- end product image -->
            </div>
            <!-- end product image -->
            <!--start product details -->
            <div class="product-details text-center">
                <!-- product name -->
                <div class="product-name">
                    <a href="#">Washed Wool Blazer</a>
                </div>
                <!-- End product name -->
            </div>
            <!-- End product details -->
        </div>
        <div class="col-12 item">
            <!-- start product image -->
            <div class="product-image">
                <!-- start product image -->
                <a href="#">
                    <!-- image -->
                    <img class="primary blur-up lazyload" data-src="/Content/AssetsClient/images/product-images/product-image13.jpg" src="/Content/AssetsClient/images/product-images/product-image13.jpg" alt="image" title="product">
                    <!-- End image -->
                    <!-- Hover image -->
                    <img class="hover blur-up lazyload" data-src="/Content/AssetsClient/images/product-images/product-image13-1.jpg" src="/Content/AssetsClient/images/product-images/product-image13-1.jpg" alt="image" title="product">
                    <!-- End hover image -->
                </a>
                <!-- end product image -->
            </div>

            <!-- end product image -->
            <!--start product details -->
            <div class="product-details text-center">
                <!-- product name -->
                <div class="product-name">
                    <a href="#">Ashton Necklace</a>
                </div>
                <!-- End product name -->
            </div>
            <!-- End product details -->
        </div>
        <div class="col-12 item">
            <!-- start product image -->
            <div class="product-image">
                <!-- start product image -->
                <a href="#">
                    <!-- image -->
                    <img class="primary blur-up lazyload" data-src="/Content/AssetsClient/images/product-images/product-image14.jpg" src="/Content/AssetsClient/images/product-images/product-image14.jpg" alt="image" title="product">
                    <!-- End image -->
                    <!-- Hover image -->
                    <img class="hover blur-up lazyload" data-src="/Content/AssetsClient/images/product-images/product-image14-1.jpg" src="/Content/AssetsClient/images/product-images/product-image14-1.jpg" alt="image" title="product">
                    <!-- End hover image -->
                </a>
                <!-- end product image -->
            </div>
            <!-- end product image -->
            <!--start product details -->
            <div class="product-details text-center">
                <!-- product name -->
                <div class="product-name">
                    <a href="#">Ara Ring</a>
                </div>
                <!-- End product name -->
            </div>
            <!-- End product details -->
        </div>
        <div class="col-12 item">
            <!-- start product image -->
            <div class="product-image">
                <!-- start product image -->
                <a href="#">
                    <!-- image -->
                    <img class="primary blur-up lazyload" data-src="/Content/AssetsClient/images/product-images/product-image15.jpg" src="/Content/AssetsClient/images/product-images/product-image15.jpg" alt="image" title="product">
                    <!-- End image -->
                    <!-- Hover image -->
                    <img class="hover blur-up lazyload" data-src="/Content/AssetsClient/images/product-images/product-image15-1.jpg" src="/Content/AssetsClient/images/product-images/product-image15-1.jpg" alt="image" title="product">
                    <!-- End hover image -->
                </a>
                <!-- end product image -->
            </div>
            <!-- end product image -->
            <!--start product details -->
            <div class="product-details text-center">
                <!-- product name -->
                <div class="product-name">
                    <a href="#">Ara Ring</a>
                </div>
                <!-- End product name -->
            </div>
            <!-- End product details -->
        </div>
    </div>
</div>
<!--End Recently Product Slider-->